@jakoblierman:registry=https://npm.pkg.github.com
auto-install-peers=true
enable-pre-post-scripts=true

# TODO: Remove legacy peer dependencies once upgraded to airbnb flat config
legacy-peer-deps=true
